[submodule "Pteromyini-00-PROTO-TYPE"]
	path = Pteromyini-00-PROTO-TYPE
	url = git@github.com:TMCIT-S-Robocon/Pteromyini-00-PROTO-TYPE.git
[submodule "Firmware/kyou-solenoid-valve"]
	path = Firmware/kyou-solenoid-valve
	url = git@github.com:TMCIT-S-Robocon/kyou-solenoid-valve.git
[submodule "Firmware/Shotacon-Receiver"]
	path = Firmware/Shotacon-Receiver
	url = git@github.com:TMCIT-S-Robocon/Shotacon-Receiver.git
[submodule "Firmware/MD12_Plot"]
	path = Firmware/MD12_Plot
	url = git@github.com:TMCIT-S-Robocon/MD12_Plot.git
[submodule "Firmware/CANIMU"]
	path = Firmware/CANIMU
	url = git@github.com:TMCIT-S-Robocon/CANIMU2025.git
[submodule "Pteromyini-01-Production-Model"]
	path = Pteromyini-01-Production-Model
	url = git@github.com:TMCIT-S-Robocon/Pteromyini-01-Production-Model.git
[submodule "ros"]
	path = ros
	url = git@github.com:TMCIT-S-Robocon/2026A-ROS.git
[submodule "controller"]
	path = controller
	url = git@github.com:TMCIT-S-Robocon/2026A_Controller.git
